/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 13 feb 2024, 20:33:57
    Author     : a026897340j
*/
#platos{
    background-color: #D6E7D8;
}
/*HOME*/
#home{
    font-family: Arial, sans-serif;
}

